@import 'tailwindcss';

:root {
  --green-primary: #4bcc00;
  --green-secondary: #e8fcc9;
  --red-primary: #ff3a33;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --text-gray: #334155;
  --background-secondary: #eff2f5;
}

.container {
  max-width: 1300px;
  width: 100%;
}

@media (min-width: 1024px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 600px;
  }
}
